:root{
    --background-color: #FFFAF4;
    --font-color-b: #6F1C00;
    --head-color-g: #285B3E;
    --box-color-p:#FAC9B8;
    

}

body{

    background-color: var(--background-color);
    
        
}

#head{

        font-family: "Lily Script One", system-ui;
        font-weight: 50;
        font-style: normal;
        font-size: 40px;
        color:#6F1C00;
        /*text-indent: 10%;*/
        margin-left:30px;
        letter-spacing: 15px;
        
        h1{
            
            text-align:justify;
            margin-left: 350px ;
            font-size: 100px;

        }
}