:root{
    --background-color: #FFFAF4;
    --font-color-b: #6F1C00;
    --head-color-g: #285B3E;
    --box-color-p:#FAC9B8;
    

}

body{

    font-optical-sizing: auto;
    background-color: var(--background-color);
    
}


/*HOME*/ 

.home {
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .home .overlap-wrapper {
    background-color:var(--background-color);
    overflow: hidden;
    width: 1280px;
    height: 832px;
  }
  
  .home .overlap {
    position: relative;
    width: 1299px;
    height: 832px;
    left: -10px;
  }
  
  .home .overlap-group {
    position: absolute;
    width: 962px;
    height: 832px;
    top: 0;
    left: 0;
  }
  
  .home .text-wrapper {
    position: absolute;
    width: 852px;
    top: 139px;
    left: 110px;
    font-family: "Lily Script One", system-ui;
    font-weight: 400;
    color: #6e1b00;
    font-size: 70px;
    letter-spacing: 7px;
    line-height: normal;
    
  }
  
  .home .group {
    position: absolute;
    width: 433px;
    height: 86px;
    top: 0;
    left: 0;
    background-color: #285a3d;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .home .div {
    position: absolute;
    top: 16px;
    left: 157px;
    font-family: "Murecho-Medium", Helvetica;
    font-weight: 500;
    color: #fac9b8;
    font-size: 36px;
    letter-spacing: 7.2px;
    line-height: normal;
  }
  
  .home .div-wrapper {
    position: absolute;
    width: 433px;
    height: 86px;
    top: 0;
    left: 433px;
    background-color: #285a3d;
    box-shadow: 0px 4px 4px #00000040;
  }
  

  
  .home .text-wrapper-3 {
    position: absolute;
    top: 271px;
    left: 394px;
    text-shadow: 0px 4px 4px #00000040;
    font-family: "Lily Script One", system-ui;
    font-weight: 400;
    color: #6e1b00;
    font-size: 100px;
    letter-spacing: 10px;
    line-height: normal;
  }
  
  .home .sunflower {
    position: fixed;
    width: 651px;
    height: 787px;
    top: 110px;
    left: -100px;
    object-fit: cover;
    opacity: 100%;
  }
  
  .home .p {
    position: absolute;
    width: 522px;
    top: 425px;
    left: 671px;
    font-family: "Murecho-Regular", Helvetica;
    font-weight: 400;
    color: #285b3e;
    font-size: 36px;
    text-align: center;
    letter-spacing: 3.6px;
    line-height: 60px;
  }
  
  
  

  
  .home .group-3 {
    position: absolute;
    width: 474px;
    height: 128px;
    top: 601px;
    left: 695px;
    box-shadow: 0px 6px 4px #00000040;
    background-image: url(./img/rectangle-12.svg);
    background-size: 100% 100%;
  }

  .sunflower-1{
    position: fixed;
    width: 651px;
    height: 787px;
    top: 110px;
    left: -100px;
    object-fit: cover;
    z-index: -1;
    opacity: 30%;
  }

  .sunflower-2{
    position: fixed;
    rotate: 180deg;
    width: 651px;
    height: 787px;
    top: 50px;
    left: 850px;
    object-fit: cover;
    z-index: -1;
    opacity: 30%;


  }
  

/*Plant*/

.sub{
    margin-right: 200px;
    color: #6F1C00;
    margin-left: 400px;
    text-align: center;
    font-family: "Murecho-Regular", Helvetica;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    
}

.flex-container{
    text-decoration: none;
    margin: 0px;
    display: flex;
    opacity: 100%;
    justify-content: space-around;
    border: 0px;
    width: 100%;
    

}

.flex-end{
    opacity: 100%;
    background-color:#fac9b8;
    align-content: center;
    font-family: "Murecho-Regular", Helvetica;
    font-size: 32px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    margin: 10px;
    padding: 30px;
    font-size: 30px;
    letter-spacing: 5px;

    p{
        color: #3D0814;
        text-align:center;

    }

}



.flex-child{
    text-decoration: none;
    opacity: 100%;
    background-color:#fac9b8;
    color: #2A6041;
    text-align: center;
    font-family: "Murecho-Regular", Helvetica;
    font-size: 32px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    margin: 10px;
    padding: 30px;
    font-size: 30px;
    letter-spacing: 5px;

    p{
        color: #3D0814;
        text-align:left;

    }

    .listIG{
        color: #3D0814;
        text-align:left;

    }

    .pot{
    
        align-items: center;
    }

    .flowers{

        width: 450px;
      
    }

    .bed{
        width: 400px;
    }

    .shov{
        width: 400px;
    }

    
}

.flex-container1{
    margin: 0px;
    display: flex;
    opacity: 100%;
    
    .flex-child1{
        background-color:#fac9b8;
        color: #2A6041;
        text-align: center;
        font-family: "Murecho-Regular", Helvetica;
        
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        margin: 10px;
        padding: 30px;
        font-size: 30px;
        letter-spacing: 5px;

       
        p{
            color: #3D0814;
            text-align:left;

        }

        



    }

}






.listing{

    text-decoration: none;
    font-family: "Murecho", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
    font-size: 20px;
    color:#6F1C00;
    letter-spacing: 2px;
    text-align: center;
  

}

.listing :hover{
    color:#285B3E;
}

.heading{
    font-family: "Lily Script One", system-ui;
    font-weight: 5;
    font-style: normal;
    font-size: 40px;
    color:#3D0814;
    /*text-indent: 10%;*/
    margin-left:25px;
    /* margin-top: 10px; */
    letter-spacing: 15px;
}

.above-heading{
    margin-top: 100px;
    font-family: "Murecho", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color:#6F1C00;
    margin-left: 30px;
    letter-spacing: 5px;
    /* margin-bottom: 0px; */

}


.stepDiv{
    h3, h2{
        margin: 0;
        /* color: pink; */
    }
}

.listing-container{

    margin: 0px;
    display: flex;
    opacity: 100%;
    background-color:#fac9b8;
    text-align: center;
    width: 180%;

  

}

.listing{

    text-decoration: none;
    opacity: 100%;
    background-color:#fac9b8;
    color:#6e1b00;
    text-align: center;
    font-family: "Murecho-Regular", Helvetica;
    font-size: 32px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    margin: 10px;
    padding: 30px;
    font-size: 30px;
    letter-spacing: 5px;



}

a:link{
    color:#6e1b00;
}

a:hover{
    color:  #2A6041;
}